body{
	background-color: gray;
}
header{
	text-align: center;

}
.im1{

}
.im2{
	
}

.container{

}
.sec1{
	background-color: white;
	font-size: 10px;
	width: 430px;

}
.h1{
	font-size: 18px;
}
.h2{
	

}
.sec2{
	background-color: white;
	flex-direction: row;
	width: 300px;
	height: 350px;
}